
    $z-index-popup: 500;
    $z-index-mobile-nav: 200;
    $z-index-header: 100;
    $typography-serif-1000-regular-letter-spacing: -0.025em;
    $typography-serif-1000-regular-font-weight: 400;
    $typography-serif-1000-regular-line-height: 1.0684931506849316;
    $typography-serif-1000-regular-font-size: 4.5625rem;
    $typography-serif-900-regular-letter-spacing: -0.02em;
    $typography-serif-900-regular-font-weight: 400;
    $typography-serif-900-regular-line-height: 1.0833333333333333;
    $typography-serif-900-regular-font-size: 3.75rem;
    $typography-serif-800-regular-letter-spacing: -0.02em;
    $typography-serif-800-regular-font-weight: 400;
    $typography-serif-800-regular-line-height: 1.14;
    $typography-serif-800-regular-font-size: 3.125rem;
    $typography-serif-700-regular-letter-spacing: -0.015em;
    $typography-serif-700-regular-font-weight: 400;
    $typography-serif-700-regular-line-height: 1.1627906976744187;
    $typography-serif-700-regular-font-size: 2.6875rem;
    $typography-serif-600-regular-letter-spacing: -0.01em;
    $typography-serif-600-regular-font-weight: 400;
    $typography-serif-600-regular-line-height: 1.1764705882352942;
    $typography-serif-600-regular-font-size: 2.125rem;
    $typography-serif-500-regular-letter-spacing: -0.01em;
    $typography-serif-500-regular-font-weight: 400;
    $typography-serif-500-regular-line-height: 1.1333333333333333;
    $typography-serif-500-regular-font-size: 1.875rem;
    $typography-serif-400-regular-letter-spacing: -0.005em;
    $typography-serif-400-regular-font-weight: 400;
    $typography-serif-400-regular-line-height: 1.2083333333333333;
    $typography-serif-400-regular-font-size: 1.5rem;
    $typography-serif-350-regular-font-weight: 400;
    $typography-serif-350-regular-line-height: 1.6;
    $typography-serif-350-regular-font-size: 1.25rem;
    $typography-serif-300-regular-font-weight: 400;
    $typography-serif-300-regular-line-height: 1.3888888888888888;
    $typography-serif-300-regular-font-size: 1.125rem;
    $typography-serif-200-regular-font-weight: 400;
    $typography-serif-200-regular-line-height: 1.5;
    $typography-serif-200-regular-font-size: 1rem;
    $typography-sans-1000-bold-letter-spacing: -0.0335em;
    $typography-sans-1000-bold-font-weight-variable: 672;
    $typography-sans-1000-bold-font-weight: 700;
    $typography-sans-1000-bold-line-height: 1.0196078431372548;
    $typography-sans-1000-bold-font-size: 4.78125rem;
    $typography-sans-900-bold-letter-spacing: -0.0315em;
    $typography-sans-900-bold-font-weight-variable: 671;
    $typography-sans-900-bold-font-weight: 700;
    $typography-sans-900-semibold-letter-spacing: -0.0315em;
    $typography-sans-900-semibold-font-weight-variable: 620;
    $typography-sans-900-semibold-font-weight: 600;
    $typography-sans-900-semibold-line-height: 1.0655737704918034;
    $typography-sans-900-semibold-font-size: 3.8125rem;
    $typography-sans-800-bold-letter-spacing: -0.0307em;
    $typography-sans-800-bold-font-weight-variable: 669;
    $typography-sans-800-bold-font-weight: 700;
    $typography-sans-800-semibold-letter-spacing: -0.0282em;
    $typography-sans-800-semibold-font-weight-variable: 620;
    $typography-sans-800-semibold-font-weight: 600;
    $typography-sans-800-semibold-line-height: 1.0943396226415094;
    $typography-sans-800-semibold-font-size: 3.3125rem;
    $typography-sans-700-bold-letter-spacing: -0.0269em;
    $typography-sans-700-bold-font-weight-variable: 669;
    $typography-sans-700-bold-font-weight: 700;
    $typography-sans-700-semibold-letter-spacing: -0.0272em;
    $typography-sans-700-semibold-font-weight-variable: 628;
    $typography-sans-700-semibold-font-weight: 600;
    $typography-sans-700-semibold-line-height: 1.0888888888888888;
    $typography-sans-700-semibold-font-size: 2.8125rem;
    $typography-sans-600-bold-letter-spacing: -0.0236em;
    $typography-sans-600-bold-font-weight-variable: 669;
    $typography-sans-600-bold-font-weight: 700;
    $typography-sans-600-semibold-letter-spacing: -0.0224em;
    $typography-sans-600-semibold-font-weight-variable: 620;
    $typography-sans-600-semibold-font-weight: 600;
    $typography-sans-600-semibold-line-height: 1.1111111111111112;
    $typography-sans-600-semibold-font-size: 2.25rem;
    $typography-sans-500-bold-letter-spacing: -0.0208em;
    $typography-sans-500-bold-font-weight-variable: 667;
    $typography-sans-500-bold-font-weight: 700;
    $typography-sans-500-semibold-letter-spacing: -0.022em;
    $typography-sans-500-semibold-font-weight-variable: 620;
    $typography-sans-500-semibold-font-weight: 600;
    $typography-sans-500-semibold-line-height: 1.1333333333333333;
    $typography-sans-500-semibold-font-size: 1.875rem;
    $typography-sans-500-medium-letter-spacing: -0.022em;
    $typography-sans-500-medium-font-weight-variable: 544;
    $typography-sans-500-medium-font-weight: 500;
    $typography-sans-500-medium-line-height: 1.1333333333333333;
    $typography-sans-500-medium-font-size: 1.875rem;
    $typography-sans-400-bold-letter-spacing: -0.0168em;
    $typography-sans-400-bold-font-weight-variable: 666;
    $typography-sans-400-bold-font-weight: 700;
    $typography-sans-400-semibold-letter-spacing: -0.0185em;
    $typography-sans-400-semibold-font-weight-variable: 618;
    $typography-sans-400-semibold-font-weight: 600;
    $typography-sans-400-medium-letter-spacing: -0.0175em;
    $typography-sans-400-medium-font-weight-variable: 525;
    $typography-sans-400-medium-font-weight: 500;
    $typography-sans-400-regular-letter-spacing: -0.014em;
    $typography-sans-400-regular-font-weight-variable: 428;
    $typography-sans-400-regular-font-weight: 400;
    $typography-sans-400-regular-line-height: 1.25;
    $typography-sans-400-regular-font-size: 1.5rem;
    $typography-sans-300-bold-letter-spacing: -0.0072em;
    $typography-sans-300-bold-font-weight-variable: 666;
    $typography-sans-300-bold-font-weight: 700;
    $typography-sans-300-semibold-letter-spacing: -0.0079em;
    $typography-sans-300-semibold-font-weight-variable: 605;
    $typography-sans-300-semibold-font-weight: 600;
    $typography-sans-300-medium-letter-spacing: -0.0075em;
    $typography-sans-300-medium-font-weight-variable: 529;
    $typography-sans-300-medium-font-weight: 500;
    $typography-sans-300-regular-letter-spacing: -0.0085em;
    $typography-sans-300-regular-font-weight-variable: 448;
    $typography-sans-300-regular-font-weight: 400;
    $typography-sans-300-regular-line-height: 1.3333333333333333;
    $typography-sans-300-regular-font-size: 1.125rem;
    $typography-sans-200-bold-letter-spacing: -0.001em;
    $typography-sans-200-bold-font-weight-variable: 664;
    $typography-sans-200-bold-font-weight: 700;
    $typography-sans-200-semibold-letter-spacing: -0.00075em;
    $typography-sans-200-semibold-font-weight-variable: 616;
    $typography-sans-200-semibold-font-weight: 600;
    $typography-sans-200-medium-letter-spacing: -0.0015em;
    $typography-sans-200-medium-font-weight-variable: 533;
    $typography-sans-200-medium-font-weight: 500;
    $typography-sans-200-regular-letter-spacing: 0.0005em;
    $typography-sans-200-regular-font-weight-variable: 450;
    $typography-sans-200-regular-font-weight: 400;
    $typography-sans-200-regular-line-height: 1.4375;
    $typography-sans-200-regular-font-size: 1rem;
    $typography-sans-150-bold-letter-spacing: 0.0013em;
    $typography-sans-150-bold-font-weight-variable: 662;
    $typography-sans-150-bold-font-weight: 700;
    $typography-sans-150-semibold-letter-spacing: 0.0025em;
    $typography-sans-150-semibold-font-weight-variable: 615;
    $typography-sans-150-semibold-font-weight: 600;
    $typography-sans-150-medium-letter-spacing: 0.0015em;
    $typography-sans-150-medium-font-weight-variable: 533;
    $typography-sans-150-medium-font-weight: 500;
    $typography-sans-150-regular-letter-spacing: 0.0009em;
    $typography-sans-150-regular-font-weight-variable: 455;
    $typography-sans-150-regular-font-weight: 400;
    $typography-sans-150-regular-line-height: 1.4666666666666666;
    $typography-sans-150-regular-font-size: 0.9375rem;
    $typography-sans-100-bold-letter-spacing: 0.0045em;
    $typography-sans-100-bold-font-weight-variable: 661;
    $typography-sans-100-bold-font-weight: 700;
    $typography-sans-100-semibold-letter-spacing: 0.0037em;
    $typography-sans-100-semibold-font-weight-variable: 619;
    $typography-sans-100-semibold-font-weight: 600;
    $typography-sans-100-medium-letter-spacing: 0.0035em;
    $typography-sans-100-medium-font-weight-variable: 554;
    $typography-sans-100-medium-font-weight: 500;
    $typography-sans-100-regular-letter-spacing: 0.0075em;
    $typography-sans-100-regular-font-weight-variable: 456;
    $typography-sans-100-regular-font-weight: 400;
    $typography-sans-100-regular-line-height: 1.4074074074074074;
    $typography-sans-100-regular-font-size: 0.84375rem;
    $typography-sans-50-bold-letter-spacing: 0.0071em;
    $typography-sans-50-bold-font-weight-variable: 660;
    $typography-sans-50-bold-font-weight: 700;
    $typography-sans-50-semibold-letter-spacing: 0.0072em;
    $typography-sans-50-semibold-font-weight-variable: 619;
    $typography-sans-50-semibold-font-weight: 600;
    $typography-sans-50-medium-letter-spacing: 0.0074em;
    $typography-sans-50-medium-font-weight-variable: 556;
    $typography-sans-50-medium-font-weight: 500;
    $typography-sans-50-regular-letter-spacing: 0.0078em;
    $typography-sans-50-regular-font-weight-variable: 459;
    $typography-sans-50-regular-font-weight: 400;
    $typography-sans-50-regular-line-height: 1.4166666666666667;
    $typography-sans-50-regular-font-size: 0.75rem;
    $shadow-filter: 0 4px 18px #0000004d;
    $shadow-level-300: 0px 36px 89px #0000000a,0px 23.3333px 52.1227px #00000008,0px 13.8667px 28.3481px rgba(0,0,0,.024),0px 7.2px 14.4625px #00000005,0px 2.93333px 7.25185px rgba(0,0,0,.016),0px 0.666667px 3.50231px #00000003;
    $shadow-level-200: 0px 4px 18px #0000000a,0px 2.025px 7.84688px rgba(0,0,0,.027),0px 0.8px 2.925px #00000005,0px 0.175px 1.04062px rgba(0,0,0,.013);
    $shadow-level-100: 0px 3px 9px #00000008,0px 0.7px 1.4625px rgba(0,0,0,.015);
    $font-family-emoji: "Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols;
    $font-family-mono: iawriter-mono,Nitti,Menlo,Courier,monospace;
    $font-family-handwriting: permanent-marker,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,"Apple Color Emoji",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    $font-family-serif: Lyon-Text,Georgia,YuMincho,"Yu Mincho","Hiragino Mincho ProN","Hiragino Mincho Pro","Songti TC","Songti SC","SimSun","Nanum Myeongjo",NanumMyeongjo,Batang,serif;
    $font-family-sans: inter-var,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,"Apple Color Emoji",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    $outline-img-color: #00000006;
    $tag-background-color:#f0eeed;
    $color-brand-brown-900: #513410;
    $color-brand-brown-800: #663c1a;
    $color-brand-brown-700: #764e2e;
    $color-brand-brown-600: #895e3e;
    $color-brand-brown-500: #9c6f54;
    $color-brand-brown-400: #a9826a;
    $color-brand-brown-300: #bc917b;
    $color-brand-brown-200: #cdad9d;
    $color-brand-brown-100: #dec9bf;
    $color-brand-brown-50: #e8dad3;
    $color-brand-pink-900: #702e69;
    $color-brand-pink-800: #904789;
    $color-brand-pink-700: #b351b1;
    $color-brand-pink-600: #df58c9;
    $color-brand-pink-500: #ff66c9;
    $color-brand-pink-400: #ff80db;
    $color-brand-pink-300: #ff94f1;
    $color-brand-pink-200: #ffadf4;
    $color-brand-pink-100: #ffc7f4;
    $color-brand-pink-50: #ffdbf4;
    $color-brand-purple-900: #3b2e70;
    $color-brand-purple-800: #503a88;
    $color-brand-purple-700: #6539b1;
    $color-brand-purple-600: #7942d1;
    $color-brand-purple-500: #9949e9;
    $color-brand-purple-400: #9f64e8;
    $color-brand-purple-300: #a684f6;
    $color-brand-purple-200: #baa2f6;
    $color-brand-purple-100: #c3bbf6;
    $color-brand-purple-50: #dad0f6;
    $color-brand-blue-900: #101f32;
    $color-brand-blue-800: #132b58;
    $color-brand-blue-700: #133681;
    $color-brand-blue-600: #055ac2;
    $color-brand-blue-500: #087fe7;
    $color-brand-blue-400: #0896e7;
    $color-brand-blue-300: #5dabee;
    $color-brand-blue-200: #b3cfe6;
    $color-brand-blue-100: #c3d9e5;
    $color-brand-blue-50: #d6e5e4;
    $color-brand-green-900: #073612;
    $color-brand-green-800: #075022;
    $color-brand-green-700: #0e712f;
    $color-brand-green-600: #1a892e;
    $color-brand-green-500: #1aad3a;
    $color-brand-green-400: #1cc457;
    $color-brand-green-300: #4ad96b;
    $color-brand-green-200: #79e28e;
    $color-brand-green-100: #afdfc0;
    $color-brand-green-50: #d0eacd;
    $color-brand-yellow-900: #6b3700;
    $color-brand-yellow-800: #944c00;
    $color-brand-yellow-700: #c76d00;
    $color-brand-yellow-600: #e09010;
    $color-brand-yellow-500: #ffaf0f;
    $color-brand-yellow-400: #ffc23d;
    $color-brand-yellow-300: #ffd452;
    $color-brand-yellow-200: #ffe28a;
    $color-brand-yellow-100: #ffebad;
    $color-brand-yellow-50: #fffbc7;
    $color-brand-orange-900: #702700;
    $color-brand-orange-800: #8a3200;
    $color-brand-orange-700: #c24400;
    $color-brand-orange-600: #db5b00;
    $color-brand-orange-500: #ff6f00;
    $color-brand-orange-400: #ff8f05;
    $color-brand-orange-300: #ffa34d;
    $color-brand-orange-200: #ffb980;
    $color-brand-orange-100: #ffce99;
    $color-brand-orange-50: #ffdfb8;
    $color-brand-red-900: #4d1600;
    $color-brand-red-800: #701a00;
    $color-brand-red-700: #8a1700;
    $color-brand-red-600: #b52603;
    $color-brand-red-500: #f64831;
    $color-brand-red-400: #f77255;
    $color-brand-red-300: #f89c77;
    $color-brand-red-200: #fdc4a0;
    $color-brand-red-100: #ffdbbd;
    $color-brand-red-50: #ffede0;
    $color-brand-gray-900: #2d433a;
    $color-brand-gray-800: #485b54;
    $color-brand-gray-700: #63746d;
    $color-brand-gray-600: #788781;
    $color-brand-gray-500: #8d9a95;
    $color-brand-gray-400: #abb5b0;
    $color-brand-gray-300: #bfc5c2;
    $color-brand-gray-200: #cfd3d1;
    $color-brand-gray-100: #dfe2e1;
    $color-brand-gray-50: #f1f3f2;
    $color-brand-cream: #f7f6f3;
    $color-brand-primary-yellow: #ffaf0f;
    $color-brand-primary-blue: #087fe7;
    $color-brand-primary-red: #f64831;
    $color-alpha-dark-200: #ffffff2e;
    $color-alpha-dark-100: #ffffff26;
    $color-alpha-light-200: #0000000f;
    $color-alpha-light-100: #0000000a;
    $color-legacy-cream-darkest: #f1ede9;
    $color-legacy-light: #fff;
    $color-legacy-white: #fff;
    $color-black-900: #000;
    $color-black-800: #1a1a1a;
    $color-black-700: #333;
    $color-black-600: #4d4d4d;
    $color-black-500: #666;
    $color-black-400: grey;
    $color-black-300: #999;
    $color-black-200: #bfbfbf;
    $color-black-100: #e6e6e6;
    $color-dark-600: #000;
    $color-dark-500: #1a1a1a;
    $color-dark-400: #a6a6a6;
    $color-dark-300: #fff3;
    $color-dark-200: #fff;
    $color-purple-900: #562772;
    $color-purple-800: #6e239a;
    $color-purple-700: #8029b3;
    $color-purple-600: #8f2dc8;
    $color-purple-500: #9d34da;
    $color-purple-400: #bd73e8;
    $color-purple-300: #cb87f2;
    $color-purple-200: #d59ef5;
    $color-purple-100: #f0e1f9;
    $color-blue-900: #004f80;
    $color-blue-800: #076097;
    $color-blue-700: #086faf;
    $color-blue-600: #097cc3;
    $color-blue-500: #0a85d1;
    $color-blue-400: #4a98c9;
    $color-blue-300: #57b5ef;
    $color-blue-200: #8accf4;
    $color-blue-100: #e2ecf3;
    $color-teal-900: #1e716e;
    $color-teal-800: #207976;
    $color-teal-700: #238582;
    $color-teal-600: #27918d;
    $color-teal-500: #2a9d99;
    $color-teal-400: #6cc1be;
    $color-teal-300: #93cccb;
    $color-teal-200: #a8d6d5;
    $color-teal-100: #e3f2f2;
    $color-yellow-900: #960;
    $color-yellow-800: #d68f00;
    $color-yellow-700: #f5a300;
    $color-yellow-600: #faa700;
    $color-yellow-500: #fb3;
    $color-yellow-400: #f0c266;
    $color-yellow-300: #ffe175;
    $color-yellow-200: #ffeca8;
    $color-yellow-100: #fff6d6;
    $color-orange-900: #a3450a;
    $color-orange-800: #e75e08;
    $color-orange-700: #f16209;
    $color-orange-600: #f8701b;
    $color-orange-500: #f8792a;
    $color-orange-400: #f28e50;
    $color-orange-300: #f5a675;
    $color-orange-200: #f7bc97;
    $color-orange-100: #fce7d9;
    $color-red-900: #7d1e17;
    $color-red-800: #a7271b;
    $color-red-700: #d73223;
    $color-red-600: #e14133;
    $color-red-500: #ea4e43;
    $color-red-400: #e1645b;
    $color-red-300: #ff8080;
    $color-red-200: #ffa8a8;
    $color-red-100: #fce9e8;
    $color-base-800: #121212;
    $color-base-780: #333;
    $color-base-760: #404040;
    $color-base-400: #fff6;
    $color-base-300: #fffdfa;
    $color-base-250: #f1efee;
    $color-base-200: #f6f5f4;
    $color-base-140: #fafafa;
    $color-base-120: #fcfcfc;
    $color-base-100: #fff;
    $color-gray-800: #050505;
    $color-gray-600: #121212;
    $color-gray-500: #0009;
    $color-gray-400: #0006;
    $color-gray-300: #0003;
    $color-gray-200: #0000001a;
    $border-radius-700: 0.75rem;
    $border-radius-600: 0.625rem;
    $border-radius-500: 0.5rem;
    $border-radius-400: 0.375rem;
    $border-radius-300: 0.3125rem;
    $border-radius-200: 0.25rem;
    $z-index-tooltip: 500;
    $z-index-lightbox: 500;
    $typography-serif-1000-regular-font-family: var($font-family-serif);
    $typography-serif-900-regular-font-family: var($font-family-serif);
    $typography-serif-800-regular-font-family: var($font-family-serif);
    $typography-serif-700-regular-font-family: var($font-family-serif);
    $typography-serif-600-regular-font-family: var($font-family-serif);
    $typography-serif-500-regular-font-family: var($font-family-serif);
    $typography-serif-400-regular-font-family: var($font-family-serif);
    $typography-serif-350-regular-font-family: var($font-family-serif);
    $typography-serif-300-regular-font-family: var($font-family-serif);
    $typography-serif-200-regular-font-family: var($font-family-serif);
    $typography-sans-1000-bold-font-family: var($font-family-sans);
    $typography-sans-900-bold-line-height: 1.0655737704918034;
    $typography-sans-900-bold-font-size: var( $typography-sans-900-semibold-font-size );
    $typography-sans-900-bold-font-family: var($font-family-sans);
    $typography-sans-900-semibold-font-family: var($font-family-sans);
    $typography-sans-800-bold-line-height: 1.0943396226415094;
    $typography-sans-800-bold-font-size: var( $typography-sans-800-semibold-font-size );
    $typography-sans-800-bold-font-family: var($font-family-sans);
    $typography-sans-800-semibold-font-family: var($font-family-sans);
    $typography-sans-700-bold-line-height: 1.0888888888888888;
    $typography-sans-700-bold-font-size: var( $typography-sans-700-semibold-font-size );
    $typography-sans-700-bold-font-family: var($font-family-sans);
    $typography-sans-700-semibold-font-family: var($font-family-sans);
    $typography-sans-600-bold-line-height: 1.1111111111111112;
    $typography-sans-600-bold-font-size: var( $typography-sans-600-semibold-font-size );
    $typography-sans-600-bold-font-family: var($font-family-sans);
    $typography-sans-600-semibold-font-family: var($font-family-sans);
    $typography-sans-500-bold-line-height: 1.1333333333333333;
    $typography-sans-500-bold-font-size: var( $typography-sans-500-semibold-font-size );
    $typography-sans-500-bold-font-family: var($font-family-sans);
    $typography-sans-500-semibold-font-family: var($font-family-sans);
    $typography-sans-500-medium-font-family: var($font-family-sans);
    $typography-sans-400-bold-line-height: 1.25;
    $typography-sans-400-bold-font-size: var( $typography-sans-400-regular-font-size );
    $typography-sans-400-bold-font-family: var($font-family-sans);
    $typography-sans-400-semibold-line-height: 1.25;
    $typography-sans-400-semibold-font-size: var( $typography-sans-400-regular-font-size );
    $typography-sans-400-semibold-font-family: var($font-family-sans);
    $typography-sans-400-medium-line-height: 1.25;
    $typography-sans-400-medium-font-size: var( $typography-sans-400-regular-font-size );
    $typography-sans-400-medium-font-family: var($font-family-sans);
    $typography-sans-400-regular-font-family: var($font-family-sans);
    $typography-sans-300-bold-line-height: 1.3333333333333333;
    $typography-sans-300-bold-font-size: var( $typography-sans-300-regular-font-size );
    $typography-sans-300-bold-font-family: var($font-family-sans);
    $typography-sans-300-semibold-line-height: 1.3333333333333333;
    $typography-sans-300-semibold-font-size: var( $typography-sans-300-regular-font-size );
    $typography-sans-300-semibold-font-family: var($font-family-sans);
    $typography-sans-300-medium-line-height: 1.3333333333333333;
    $typography-sans-300-medium-font-size: var( $typography-sans-300-regular-font-size );
    $typography-sans-300-medium-font-family: var($font-family-sans);
    $typography-sans-300-regular-font-family: var($font-family-sans);
    $typography-sans-200-bold-line-height: 1.4375;
    $typography-sans-200-bold-font-size: var( $typography-sans-200-regular-font-size );
    $typography-sans-200-bold-font-family: var($font-family-sans);
    $typography-sans-200-semibold-line-height: 1.4375;
    $typography-sans-200-semibold-font-size: var( $typography-sans-200-regular-font-size );
    $typography-sans-200-semibold-font-family: var($font-family-sans);
    $typography-sans-200-medium-line-height: 1.4375;
    $typography-sans-200-medium-font-size: var( $typography-sans-200-regular-font-size );
    $typography-sans-200-medium-font-family: var($font-family-sans);
    $typography-sans-200-regular-font-family: var($font-family-sans);
    $typography-sans-150-bold-line-height: 1.4666666666666666;
    $typography-sans-150-bold-font-size: var( $typography-sans-150-regular-font-size );
    $typography-sans-150-bold-font-family: var($font-family-sans);
    $typography-sans-150-semibold-line-height: 1.4666666666666666;
    $typography-sans-150-semibold-font-size: var( $typography-sans-150-regular-font-size );
    $typography-sans-150-semibold-font-family: var($font-family-sans);
    $typography-sans-150-medium-line-height: 1.4666666666666666;
    $typography-sans-150-medium-font-size: var( $typography-sans-150-regular-font-size );
    $typography-sans-150-medium-font-family: var($font-family-sans);
    $typography-sans-150-regular-font-family: var($font-family-sans);
    $typography-sans-100-bold-line-height: 1.4074074074074074;
    $typography-sans-100-bold-font-size: var( $typography-sans-100-regular-font-size );
    $typography-sans-100-bold-font-family: var($font-family-sans);
    $typography-sans-100-semibold-line-height: 1.4074074074074074;
    $typography-sans-100-semibold-font-size: var( $typography-sans-100-regular-font-size );
    $typography-sans-100-semibold-font-family: var($font-family-sans);
    $typography-sans-100-medium-line-height: 1.4074074074074074;
    $typography-sans-100-medium-font-size: var( $typography-sans-100-regular-font-size );
    $typography-sans-100-medium-font-family: var($font-family-sans);
    $typography-sans-100-regular-font-family: var($font-family-sans);
    $typography-sans-50-bold-line-height: 1.4166666666666667;
    $typography-sans-50-bold-font-size: var( $typography-sans-50-regular-font-size );
    $typography-sans-50-bold-font-family: var($font-family-sans);
    $typography-sans-50-semibold-line-height: 1.4166666666666667;
    $typography-sans-50-semibold-font-size: var( $typography-sans-50-regular-font-size );
    $typography-sans-50-semibold-font-family: var($font-family-sans);
    $typography-sans-50-medium-line-height: 1.4166666666666667;
    $typography-sans-50-medium-font-size: var( $typography-sans-50-regular-font-size );
    $typography-sans-50-medium-font-family: var($font-family-sans);
    $typography-sans-50-regular-font-family: var($font-family-sans)
