<section id="hero">
  <div class="hero-content">
    <h2>Write. Plan. Organize.</h2>
    <p>With a little help from AI</p>
    <div class="buttons">
      <button class="fill-button">Get Notion free</button>
      <button class="stroke-button">Request a demo</button>
    </div>
  </div>
  <img
    class="content-img"
    src="https://www.notion.so/cdn-cgi/image/format=webp,width=1080/front-static/pages/product/super-duper/hero-illo.png"
    alt=""
  />
  <img #footerImg class="footer-img" alt="" />
</section>
