<section id="hero">
  <div class="hero-content">
    <h2>{{ heroContent.title }}</h2>
    <p>{{ heroContent.content }}</p>
    <div class="buttons">
      <button class="fill-button">{{ heroContent.btnContent[0] }}</button>
      <button class="stroke-button">{{ heroContent.btnContent[1] }}</button>
    </div>
  </div>
  <img
    class="content-img"
    src="https://www.notion.so/cdn-cgi/image/format=webp,width=1080/front-static/pages/product/super-duper/hero-illo.png"
    alt=""
  />
  <img #footerImg class="footer-img" alt="" />
</section>
