@import "../../styles/variables.scss";

#hero {
  display: grid;
  grid-template-columns: repeat($grid-column-size, 1fr);
  gap: $grid-gap;
  row-gap: 100px;
  align-items: center;
  width: 1290px;

  img {
    width: 100%;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 7;
    gap: 1rem;

    h2 {
      font-weight: 700;
      font-size: 92px;
    }

    p {
      font-weight: 500;
      font-size: 24px;
    }

    .buttons {
      display: flex;
      gap: 1rem;
    }
  }

  .content-img {
    grid-column: 7 / 13;
  }

  .footer-img {
    grid-column: 1 / 13;
    grid-row: 2;
    border-radius: 20px;
    outline: 2px solid $outline-img-color;
  }
}

@media screen and (max-width: 1500px) {
  #hero {
    width: auto;
    margin: 0 2rem;
  }
}

@media screen and (max-width: 1300px) {
  #hero {
    .hero-content {
      h2 {
        font-size: 76px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #hero {
    row-gap: 0;
    .hero-content {
      text-align: center;
      align-items: center;
      grid-column: 3/10;
    }
    .content-img {
      grid-column: 3/10;
      grid-row: 2;
    }
    .footer-img {
      grid-row: 3;
    }
  }
}

@media screen and (max-width: 720px) {
  #hero {
    .hero-content {
      grid-column: 1/13;
      text-align: left;
      align-items: flex-start;
      h2 {
        font-size: 52px;
      }
      .buttons {
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
