@import "../../styles/variables.scss";

#feature-hint {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: flex-end;
  
  img {
    max-width: 80px;
    margin-bottom: 12px;
  }
  .title {
    font-weight: 700;
  }
  .content {
    color: $color-black-400;
  }
}
