<app-nav-bar [navBarContent]="navBarContent"></app-nav-bar>
<body>
  <app-hero></app-hero>
  <app-feature-block [featureBlock]="writeFeatureBlock"></app-feature-block>
  <app-feature-block [featureBlock]="planFeatureBlock"></app-feature-block>
  <app-feature-sm-container [featureSm]="featureSmContainerContent"></app-feature-sm-container>
  <app-feature-block [featureBlock]="organizeFeatureBlock"></app-feature-block>
  <app-feature-block [featureBlock]="iaFeatureBlock"></app-feature-block>
</body>
