@import "../src/app/styles/variables.scss";

$font-family-sans: "Inter", sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $font-family-sans;
  color: $color-black-800;
  font-weight: 500;
}

section {
  max-width: 1290px;
}

.sm-button{
  padding: .40rem .6875rem;
  border: none;
  background: $color-base-100;
  border-radius: 0.3125rem;
  font-size: 16px;

}

.fill-button,
.stroke-button {
  padding: 10px 20px 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.fill-button {
  color: $color-base-100;
  background: $color-button-primary;
}

.stroke-button {
  color: $color-button-secondary-text;
  background: $color-button-secondary;
}
